<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Slides
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="grid-slides">
    <ion-row class="row-slides">
      <ion-col class="col-slides">
        <ion-slides [options]="option">
          <ion-slide>
            <ion-card>
              <img src="../assets/images/slides/01.JPG" alt="">
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img src="../assets/images/slides/02.JPG" alt="">
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img src="../assets/images/slides/03.JPG" alt="">
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img src="../assets/images/slides/04.JPG" alt="">
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img src="../assets/images/slides/05.JPG" alt="">
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
